<% layout("/layouts/boilerplate") -%>

<div class="row mt-3">
  <h2  class="col-8 offset-3 mb-4">Sign Up to Get Started with WANDRIDGE</h2>
  <div class="col-5 offset-3">
    <form action="/signup" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          placeholder="enter username"
          class="form-control"
          required
        />
        <div class="valid-feedback">username looks good !</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          name="email"
          placeholder="enter email"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input
          type="password"
          name="password"
          placeholder="enter password"
          class="form-control"
          required
        />
      </div>
      <button class="btn btn-success">Signup</button>
    </form>
  </div>
</div>
